[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/abseil-cpp"]
	path = ext/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
